<!-- body {
	background-image:url();
	color: #000000;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font-weight: bolder;
	margin: 0px;
	padding: 0px;
}
 * {margin: 0px;padding: 0px;}  
.clear{clear:both;} -->
#container {
	margin: 0px auto;
	text-align: left;
	width: 1000px;
	
}
/********************** Header ***************************/


#time ul{
	position:relative;
	float:left;
	top:-3px;
	left:20px;
}



/********************** Left - Text ***************************/
#left {
	float:left;
	width:1000px;
	margin-left:48px;
}
#left p{
	padding: 5px 10px 10px 30px;
}
#left a:hover{color:#d8cd8d;}
/********************** Right-Series ***************************/
#right {
	float:right;
	width:1000px;
}
.series {
	display:inline;
	float:left;
	margin-left:48px;
	padding: 5px 0px 0px 0px;
}
.series a{
	font-size: 10px;
	font-weight: bold;
	color: #490000;
	text-decoration: none;
}
.series img{
	border: none 0px;
}
.series span{
	display:block;
	text-align:left;
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;

}
.series span a{}
.series span a:hover{}


.series img {
filter:alpha(opacity=100);
opacity: .9
}
.series img:hover {
filter:alpha(opacity=65);
opacity: .6
}


